<body class="container">

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mongo Scraper</a>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/articles/saved">Saved Articles</a>
        <button class="btn float-left" id="clear-articles">Clear Articles</button>
    </nav>

    <div class="bg"></div>
    <div class="jumbotron jumbotron-fluid">
        <h1>Saved Articles</h1>
        <h4>Your Saved Articles</h4>
    </div>

    <br>

    <!-- Modal -->
    <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
 
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a>
                
                <a class="btn mt-auto btn-light btn-outline-dark float-right save" data-id="{{this._id}}>Save Article</a></h3>

                <!-- Button trigger modal -->
                <button type="button" class="btn mt-auto btn-light btn-outline-dark float-right" data-toggle="modal" data-target="#notesModal">
                    Article Notes
                </button>
        
                <a class="btn mt-auto btn-light btn-outline-dark float-right delete-from-saved" data-id="{{this._id}}">Unsave</a></h3>

            </div>
            <div class="card-body flex-column">
                <p class="card-text">{{this.teaser}}</p>
            </div>
        </div>
    {{/each}}
